# ------------------------------------------------------------------------------
# Flake8 configuration file
# https://flake8.pycqa.org/en/latest/user/configuration.html
# ------------------------------------------------------------------------------

[flake8]
max-doc-length = 72
max-line-length = 88
docstring-convention = google
docstring-quotes = """
inline-quotes = "
multiline-quotes = """
